input[name=licence_number],
input[name=car_number],
input[name=car_vin],
input[name=car_registration] {
    text-transform: uppercase;
}

.t-select__wrapper:after {
    border-style: none;
}

.select2-dropdown {
    border-color: #000;
}

.select2-container--default.select2-container--open {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.33;
}

.select2-search--dropdown .select2-search__field {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.33;
}

.select2-container--default .select2-selection--single {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    padding: 0 45px 0 20px;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    line-height: 1.33;
    outline: 0;
    background: transparent;
    -webkit-appearance: none;
    color: #000000;
    border: 1px solid #000000;
    -webkit-border-radius: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 58px;
    padding: 0;
    color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 16px;
    right: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
    border-width: 6px 5px 0 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #000 transparent;
    border-width: 0 5px 6px 5px;
}
